extends base.pug

block content
  video(src="/"+video.fileUrl, controls)
  div
    p=video.description
    small=video.createdAt
    small=video.owner
    br
    small=loggedInUser._id
  if String(video.owner) === String(loggedInUser._id)
    a(href=`${video.id}/edit`) Edit Video &rarr; 
    br
    a(href=`${video.id}/delete`) Delete Video &rarr; 